<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.gitrnd.qaconsumer.qareport.details.mapper.QADetailReportMapper">

	<!-- insert report -->
	<insert id="insertQADetailReport"
		parameterType="com.gitrnd.qaconsumer.qareport.details.domain.QADetailReport">
		insert into tb_qa_report_details(
		reflayer_id,
		feature_id,
		reffeature_id,
		err_type,
		err_name,
		err_point,
		comment,
		r_idx)
		values(
		#{refLayerId},
		#{featureId},
		#{refFeatureId},
		#{errType},
		#{errName},
		#{errPoint},
		#{comment},
		#{rIdx})
		<selectKey keyProperty="rd_idx" resultType="int"
			order="AFTER">
			select
			currval('tb_qa_report_details_rd_idx_seq')
		</selectKey>
	</insert>
</mapper>